<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href=<%= kids_book_lists_path %>>
      <div class="thumbnail big-btn">
        <span class="level-label">Level 1</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href=<%= kids_book_lists_path %>>
      <div class="thumbnail big-btn">
        <span class="level-label">Level 2</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href=<%= kids_book_lists_path %>>
      <div class="thumbnail big-btn">
        <span class="level-label">Level 3</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href=<%= kids_book_lists_path %>>
      <div class="thumbnail big-btn">
        <span class="level-label">Level 4</span>
      </div>
    </a>
  </div>
</div>