<div class="container">
  <div class="page-header">
    <h1><%= @book.title %><small><%= @book.descripiton %></small></h1>
  </div>

  <div class="col-md-4">
    Book image here
  </div>

  <div class="col-md-8">
    Book details here
  </div>
</div>