<h3 style="margin-bottom: 50px;">Welcome, Mrs. Peterson!</h3>

<div class="jumbotron">
  <h1 style="margin-bottom: 30px">Parent Analytics</h1>
  <div style="padding-right: 0px; float:left">
    <img src="http://photos-g.ak.instagram.com/hphotos-ak-xaf1/t51.2885-15/1168515_251927074968790_1954539791_n.jpg" style="height: 120px; width: 120px;">
  </div>
  <div style="font-size: 18px; float:left; margin-left: 20px">
    <span style="text-decoration: underline; padding-left: 0px">Loren Peterson</span><br/>
    Grade 1<br/>
    Level 3 Reader
  </div>
  <div style="clear:both"></div>
</div>

<div class="col-md-12">
 <div class="col-md-12" style="font-size:28px; padding-top: 80px; padding-bottom: 40px;"> Loren Read These Books This Week </div>
  <div class="col-md-2 col-md-offset-1" style="text-align: center">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-success">
        Finished
      </a>
      <a href="#" class="list-group-item"><img src="http://myhero.com/images//ReadingRoom/books/arthur.jpg" style="width: 120px; height: 180px"></a>
    </div>
  </div>
  <div class="col-md-2 col-md-offset-1" style="text-align: center">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-success">
        Finished
      </a>
      <a href="#" class="list-group-item"><img src="http://www.storysnoops.com/blog/wp-content/uploads/2011/02/0375846832.01._PA20101010_BO20255255255_SCLZZZZZZZ_SL280_.jpg" style="width: 120px; height: 200px"></a>
    </div>
  </div>
  <div class="col-md-2 col-md-offset-1" style="text-align: center">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-danger">
        In Progress
      </a>
      <a href="#" class="list-group-item"><img src="http://d.gr-assets.com/books/1328868459l/53233.jpg" style="width: 120px; height: 200px"></a>
    </div>
  </div>
 <div class="col-md-12" style="font-size:28px; padding-top: 80px; padding-bottom: 40px;"> Loren's Stats </div>
    <div class="col-md-3 col-md-offset-1" style="margin-bottom: 100px">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          Total Minutes Read This Week
        </a>
        <a href="#" class="list-group-item">120</a>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          Total Reviews Written This Week
        </a>
        <a href="#" class="list-group-item">2</a>
      </div>
    </div>
  </div>
</div>