<h1>Teacher Analytics</h1>

<div class="col-md-12" style="padding-left: 0; padding-top: 40px; padding-bottom:50px; font-size: 20px;">
  <div class="col-md-6" style="padding-left: 0">Ms. Wright's Class</div>
  <div class="col-md-6">Date Range: 2/1-2/5/15</div>
</div>

<table class="table" style="font-size: 18px;">
  <thead style="font-weight: normal; font-size: 22px;">
    <tr>
      <th></th>
      <th style="font-weight: normal;">Minutes Read</th>
      <th style="font-weight: normal;">Books Completed</th>
      <th style="font-weight: normal;">Reviews Written</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr style="font-weight: bold;">
      <td style="font-size: 22px;">Class Total</td>
      <td>1000</td>
      <td>5</td>
      <td>4</td>
      <td></td>
    </tr>
    <tr>
      <td>Esther</td>
      <td>700</td>
      <td>2</td>
      <td>1</td>
      <td>
        <img src="http://myhero.com/images//ReadingRoom/books/arthur.jpg" style="width: 120px; height: 180px">
        <img src="http://www.storysnoops.com/blog/wp-content/uploads/2011/02/0375846832.01._PA20101010_BO20255255255_SCLZZZZZZZ_SL280_.jpg" style="width: 120px; height: 200px"></td>
    </tr>
    <tr>
      <td>Julia</td>
      <td>150</td>
      <td>1</td>
      <td>1</td>
      <td>
        <img src="http://d.gr-assets.com/books/1328868459l/53233.jpg" style="width: 120px; height: 200px">
      </td>
    </tr>
    <tr>
      <td>Wayne</td>
      <td>150</td>
      <td>2</td>
      <td>2</td>
      <td>
        <img src="http://www.slj.com/wp-content/uploads/2013/07/Brave-Girl.jpg" style="width: 120px; height: 200px">
        <img src="http://www.slj.com/wp-content/uploads/2013/07/Boy-Who-Loved-Math.jpg" style="width: 120px; height: 200px"></td>
    </tr>
  </tbody>
</table>