<h3 style="margin-bottom: 50px;">Welcome, Mrs. Frizzle!</h3>

<div class="jumbotron">
  <h1 style="margin-bottom: 30px">Teacher Analytics</h1>
  <div style="padding-right: 0px; float:left">
    <img src="http://b50ym1n8ryw31pmkr4671ui1c64.wpengine.netdna-cdn.com/wp-content/blogs.dir/11/files/2013/05/magic-school-bus-2-300x242.jpg" style="height: 120px; width: 120px;">
  </div>
  <div style="font-size: 18px; float:left; margin-left: 20px">
    <span style="text-decoration: underline; padding-left: 0px">Mrs. Frizzle</span><br/>
    Grade 6<br/><br/>
    <span style="font-weight: bold">Date Range: 2/1-2/5/2015</span>
  </div>
  <div style="clear:both"></div>
</div>

<table class="table" style="font-size: 18px;">
  <thead style="font-weight: normal; font-size: 22px;">
    <tr>
      <th></th>
      <th style="font-weight: normal;">Minutes Read</th>
      <th style="font-weight: normal;">Books Completed</th>
      <th style="font-weight: normal;">Reviews Written</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr style="font-weight: bold;">
      <td style="font-size: 22px;">Class Total</td>
      <td>1000</td>
      <td>5</td>
      <td>4</td>
      <td></td>
    </tr>
    <tr>
      <td>Esther</td>
      <td>700</td>
      <td>2</td>
      <td>1</td>
      <td>
        <img src="http://myhero.com/images//ReadingRoom/books/arthur.jpg" style="width: 120px; height: 180px">
        <img src="http://www.storysnoops.com/blog/wp-content/uploads/2011/02/0375846832.01._PA20101010_BO20255255255_SCLZZZZZZZ_SL280_.jpg" style="width: 120px; height: 200px"></td>
    </tr>
    <tr>
      <td>Julia</td>
      <td>150</td>
      <td>1</td>
      <td>1</td>
      <td>
        <img src="http://d.gr-assets.com/books/1328868459l/53233.jpg" style="width: 120px; height: 200px">
      </td>
    </tr>
    <tr>
      <td>Wayne</td>
      <td>150</td>
      <td>2</td>
      <td>2</td>
      <td>
        <img src="http://www.slj.com/wp-content/uploads/2013/07/Brave-Girl.jpg" style="width: 120px; height: 200px">
        <img src="http://www.slj.com/wp-content/uploads/2013/07/Boy-Who-Loved-Math.jpg" style="width: 120px; height: 200px"></td>
    </tr>
  </tbody>
</table>