// Place all the styles related to the kids/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.big-btn {
  // width: 300px;
  padding-bottom: 100%;
  margin-top: 100px;
}

.category-btn{
  &:hover{
    cursor: pointer;
  }
}

.check-box-like{
  background-color: rgb(134,106,179);
}
