// Place all the styles related to the kids/levels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.level-label{
  font-size: 40px;
  position:absolute;
  color: black;
  // left:80px;
  // right:80px;
  // margin-left:20px;
  // margin-right:auto;
  margin: auto;
  // position: absolute;
  // top: 0; left: 0; 
  // bottom: 0; right: 0;
}
