<h1>Book Lists</h1>
  <ul>
    <% @book_lists.each do |list| %>
      <li>
        <%= link_to(list.title, 'book_lists/' + list.id.to_s) %></a>
        <ul>
          <% list.books.each do |book| %>
            <li>
              <%= link_to(book.title, 'books/' + book.id.to_s) %></a> by <%= book.author %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>